env:
  global:
    - secure: "euLxEEQY12f5ckbS9vt6byTHpCTMjkuSqcjj6L1r8UVO3SF/g9wxksvgbSO0ruwttzPZ8jzQtunK+TEB8yKvwrdbD/I6tL042yq6bcdM1vnWP1Y3Rnb4tb7IA0Ff5K5LsSUm2EW4IijJtnxTMhX+2U9rjbOO9OzjjJ7Gl1WdOy5MBqYm2kOXOZDI4Slez04IAnoV0N/TXQTedVl4EVMO9Y8OAVd13a+DzrvF1suhyF0neU9ksn0BfZy7qedgQ4sXOlObdrk/FY3k6FOuCwwlP+9KpNFp3AYy45keCjKT1bugpIrYQjv4/4KNPQVIiUVPXrUszkR35WjBPw85pSulQ3yNY6AlWup/1A6Xla2v9iEm5UZgnc4cjxmH9Mx2JKP9HMWc2JJXJp30Jy6bA1bRlERN7leC4WPPUgjnUtcbobbPoBWxAadjNnF4hg7Su4zzVZN31Lm+s7TTId0NXLjN4e7aGAcMcdepkFGDJXLEMME7X2Nz/Qg8VOcyYQkxVyNrpw2eaaHss7EH2P3IL1foSKPGQJ3w3xHkGiIG+1HUdtYR/euI6CNQ57epNp9CTL0W/P+7ofSux8WliZDqLTEIZ9Z2Uk5H4yXMNcqBIu0a1F7lkz1VLH9snToMjkknzC1qxLBFGzVUMJNv3Hm7mhslX4SsnVB5LsQTih+lWVFUJok="
  matrix:
    - DISTRO=centos-6 PHP_CONFIG_FLAGS="--with httpd24 --with libgd"
    - DISTRO=centos-7 PHP_CONFIG_FLAGS="--with httpd24 --with libgd"
before_install:
  - openssl aes-256-cbc -K $encrypted_ddd175810ce0_key -iv $encrypted_ddd175810ce0_iv -in deploy.key.enc -out deploy.key -d
  - chmod 600 deploy.key
  - export MAKEFLAGS=-j$(cat /proc/cpuinfo|grep bogomips|wc -l)
  - export PROOT="./${DISTRO}/proot -b $(pwd):/root/build -b /etc/hosts -b /etc/hostname -b /etc/resolv.conf -b /dev -w /root/build -r ${DISTRO} -0"
  - source versions
install:
  - wget "https://github.com/gboddin/upsalter/releases/download/0.2.3/${DISTRO}-rootfs-salted.tar.bz2"
  - mkdir ${DISTRO} 
  - tar -C ${DISTRO} -xjf ${DISTRO}-rootfs-salted.tar.bz2
  - ${PROOT} /bin/bash /root/build/install.sh
script:
  - ${PROOT} /bin/bash -x /root/build/build-redis.sh
  - echo ${APACHE_VERSION}|grep -q "^2.4" && ${PROOT} /bin/bash -x /root/build/build-apache.sh
  - echo ${APACHE_VERSION}|grep -q "^2.4" && ${PROOT} rpm -Uvh /root/build/RPMS/$(uname -m)/httpd-{,devel-}${APACHE_VERSION}-*.$(uname -m).rpm
  - echo ${APACHE_VERSION}|grep -q "^2.4" && cp SOURCES/httpd-php-build.conf ${DISTRO}/etc/httpd/conf/httpd.conf 
  - ${PROOT} /bin/bash -x /root/build/build-php.sh
before_deploy:
  - export RELEASE_PKG_FILE=$(ls RPMS/`uname -m`/*.rpm SRPMS/*.rpm)
  - echo "deploying $RELEASE_PKG_FILE to GitHub releases"
deploy:
  - provider: script
    script: sync_repo.sh 
