[Unit]
Description=Gearmand distributed job system
After=syslog.target network.target

[Service]
EnvironmentFile=/etc/sysconfig/gearmand
User=gearmand
Type=forking
ExecStart=/usr/sbin/gearmand -d $OPTIONS

[Install]
WantedBy=multi-user.target
